@model IEnumerable<BuyOnline.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}


<div id="middlediv">
    <table class="table" border="1">
        <tr>
            <th colspan="9" align="center">Your Orders</th>
        </tr>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ammount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalAmmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlacedDay, "{0:MM/dd/yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ammount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalAmmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                    @if(item.Status == "Pending")
                    {
                        @Html.ActionLink("Cencel", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
</div>

