@model BuyOnline.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div id="middle" style="top:10px">
    <h2>Add New Product</h2>
    <form action="/Product/Create" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="Title" id="Title" />@Html.ValidationMessageFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="file" name="Image" id="Image" />@Html.ValidationMessageFor(model => model.Image)</td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select name="categoryid">
                        @for (int i = 0; i <= (int)Session["countcat"]; i++)
                        {
                            <option value="@Session["id"+i.ToString()]">@Session["title" + i.ToString()]</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.CategoryId)
                </td>
            </tr>
            <tr>
                <td>Unit Price</td>
                <td><input type="number" name="UnitPrice" id="UnitPrice" />@Html.ValidationMessageFor(model => model.UnitPrice)</td>
            </tr>
            <tr>
                <td>Unit</td>
                <td><input type="number" name="Unit" id="Unit" />@Html.ValidationMessageFor(model => model.Unit)</td>
            </tr>
            <tr>
                <td>Details</td>
                <td><textarea name="Details" id="Details" cols="100" rows="10"></textarea>@Html.ValidationMessageFor(model => model.Details)</td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Publish Prodcut" name="Publish" id="Publish" /></td>
            </tr>
        </table>
    </form>
</div>
