@model BuyOnline.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link rel="Stylesheet" href="../CSS/HomeStyle.css" type="text/css" />

<div id="middle" style="top:10px">
    <table>
        <tr>
            <td colspan="2" align="center"><img src="~/Image/@Model.Image" height="150" width="150" /></td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Category)</td>
            <td>@Html.DisplayFor(model => model.Category)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.UnitPrice)</td>
            <td>@Html.DisplayFor(model => model.UnitPrice)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Unit)</td>
            <td>@Html.DisplayFor(model => model.Unit)</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</td>
            
        </tr>
    </table>
    Comments
    @for (int i = 0; i <= (int)Session["countcomment"]; i++)
    {
        @Session["comment" + i.ToString()] <br /><font color="blue">
                @Session["c" + i.ToString()]
            </font>
        <hr>
    }
</div>


